#poi-plugin-rbq .material-icon {
    width: 1.5em;
    height: 1.5em;
}

#poi-plugin-rbq .progress .pg-text {
    color: white;
}

#poi-plugin-rbq .progress.bg-hack {
    background-color: #555;
}

#poi-plugin-rbq .panel {
    margin-bottom: 16px;
}

.rbq-pop .tooltip-inner {
    max-width: none;
}
